
# PRIMEIRAS AULAS EM PYTHON 

### NUMEROS

In [3]:
a = 2+2
b = 2-2
c = 2*2
d = 2/2
e = 2**2
f = 2*0.5
g = 2*(1/2)

In [6]:
a, b, c, d, e, f, g

(4, 0, 4, 1.0, 4, 1.0, 1.0)

In [3]:
#segue a regra matematica
print(2+2*2-2/2)
print(2*2*(2+2)-2/2)

5.0
15.0

In [4]:
#existem dois tipos de numeros:

#Inteiros(int)
a = 2
#Flutuantes(float)
b = 2.0

print(type(a))

print(type(b))

<class 'int'>
<class 'float'>

### STRINGS

In [5]:
#strings são criadas com aspas duplas ou simples

"Hello World"
'Hello world'

'Hello world'

In [6]:
#para pular linha se usa \n
print("Hello \nWorld")

Hello
World

In [7]:
#para verificar o cumprimento da string usa se len()
len("Hello World")

11

### Indexação

In [8]:
a = "hello world"

print(a)

hello world

In [9]:
a[0]

'h'

In [10]:
a[1]

'e'

In [11]:
a[-1]

'd'

In [12]:
#retorna todos os elementos apartir da posição imposta antes dos dois pontos
a[2:]

'llo world'

In [13]:
a[:]

'hello world'

In [14]:
#retorna os elemtentos que vem antes da posição imposta depois dos dois pontos
a[:3]

'hel'

In [15]:
a[:-1]

'hello worl'

In [16]:
#dois dois pontos são usados para capturar elementos de uma sequência com espaçamento(o espaçamento padrão é um)
a[::]

'hello world'

In [17]:
#espaçamento de dois em dois 
a[::2]

'hlowrd'

In [18]:
#pega tudo mas com passos negativos(de trás para frente)
a[::-1]

'dlrow olleh'

In [19]:
#string não podem ser modificadas, mas podemos concatenar 
a = "Hello world"
a = a + " I'm live"
print(a)

Hello world I'm live

In [20]:
#podemos usar simbolos de multiplicação para criar repetições!

letra = "A"

print(letra*10)

AAAAAAAAAA

In [21]:
#caixa alta
a.upper()

"HELLO WORLD I'M LIVE"

In [22]:
#caixa baixa
a.lower()

"hello world i'm live"

In [23]:
#divide nos espaços
a.split()

['Hello', 'world', "I'm", 'live']

In [24]:
# divide em um elemento especifico(não inclui o elemento que foi dividido)
a.split("w")

['Hello ', "orld I'm live"]

In [25]:
#O metodo .format{} é usado para adicionar objetos formatados a instruções de impressão 
"Hello world! {}".format("I'm live.")

"Hello world! I'm live."

In [26]:
a = "world"
print("hello %s, I'm live!" %(a))

hello world, I'm live!

In [27]:
print("Printando pontos Flutuantes: %1.2f" %(14.4458412))

Printando pontos Flutuantes: 14.45

In [28]:
a = 30
b = "51 anos!"

print("Eu tenho %r anos e minha mãe tem %s"%(a,b))

Eu tenho 30 anos e minha mãe tem 51 anos!

In [29]:
print("um:{a}, dois:{b}, três:{c}".format(a=1,b="two",c=3))

um:1, dois:two, três:3

# LISTAS

In [30]:
#em lista, temos que usar uma anotação de colchetes []
var  = 1
my_list = [1,2,3]

In [31]:
type(my_list)

list

In [32]:
#python permite criar listas com varios tipos
my_list2 = [1,2.3,"string"]
my_list2

[1, 2.3, 'string']

In [33]:
#Existe a possibilidade de concatenar listas assim como strings
list_total = my_list + my_list2

In [34]:
list_total

[1, 2, 3, 1, 2.3, 'string']

In [35]:
#existem varios métodos para lista
#vejamos o metodo "append" que adiciona um elemento a lista

my_list.append("string")

In [36]:
my_list.append(5)

In [37]:
my_list

[1, 2, 3, 'string', 5]

In [38]:
# método "pop" extrai e devolve o ultimo elemento da lista
my_list.pop()

5

In [39]:
my_list

[1, 2, 3, 'string']

In [40]:
my_list.pop()

'string'

In [41]:
my_list

[1, 2, 3]

In [42]:
#método "reverse" inverte a ordem da lista
new_list = ["a","b","c","d","e","f"]
new_list.reverse()

In [43]:
new_list

['f', 'e', 'd', 'c', 'b', 'a']

In [44]:
#método "sort" vai ordenar a lista
new_list.sort()
new_list

['a', 'b', 'c', 'd', 'e', 'f']

In [45]:
lst_1 = [1,2,3]
lst_2 = [4,5,6]
lst_3 = [7,8,9]

matrix = [lst_1,lst_2,lst_3]

In [46]:
matrix[1][1]

5

In [47]:
first_col = [x[0] for x in matrix]

In [48]:
first_col

[1, 4, 7]

# Dicionários

In [49]:
# Dicionários são criados entre chaves {} com o nome da chave entre aspas(uma string que vai armazenar o nome da
# chave) dois pontos e o valor da chave(nesse caso o valor pode ser qualquer coisa, desde numeros, strings, lista)

my_dict = {'chave1':123, 'chave2': "um, dois, três", 'chave3': [1,2,3]}

In [50]:
type(my_dict)

dict

In [51]:
my_dict

{'chave1': 123, 'chave2': 'um, dois, três', 'chave3': [1, 2, 3]}

In [56]:
nome = input("Qual o seu nome?")
idade = input("Qual a sua idade?")
cliente1 = {'nome': nome, 'idade': idade}

print(cliente1)

Qual o seu nome?Thiago
Qual a sua idade?30anos
{'nome': 'Thiago', 'idade': '30anos'}

In [57]:
cliente1['idade']

'30anos'

In [58]:
cliente1['nome']

'Thiago'

In [59]:
pwd

'/home/arrais/Documentos'

# SET E BOOLEANOS

Existem mais dois outros tipos de objetos em Python que devemos cobrir rapidamente, Conjuntos(set) e Boleanos.

## Sets

Os conjutos são uma coleção não ordenada de elementos únicos. Podemos construí-los usando a função set().

In [60]:
x = set()
type(x)

set

In [61]:
# adicionamos elementos com o método add().
x.add(1)

In [62]:
x

{1}

Como os conjuntos(sets) são uma coleção com eletemos únicos, não é possivel adicionar eletemsntos que ja esxistam na coleção.

In [63]:
#adicionando elemento 2 a coleção! 
x.add(2)

In [64]:
x

{1, 2}

In [65]:
#adicioanando elemento 3 a coleção!
x.add(3)

In [66]:
x

{1, 2, 3}

In [67]:
#adicionando elemento 1 que ja existe na coleção!

x.add(1)

In [68]:
x

{1, 2, 3}

In [69]:
# Adicionando o metodo set a uma lista para tranforma-la em uma lista com elementos unicos e ordenados!
x = [8,10,11,1,2,3,3,3,4,4,4,4,5,6,6,6,1,2,3,1,1,1,1,2,3,4,5,6,7,8]
xconjunto = set(x)

In [70]:
xconjunto

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11}

In [71]:
type(xconjunto)

set

## Boleanos

Os tipos de dados Boleanos trabalham com dois parametros: True e False

In [72]:
# resultado da expereção que indica que 1 é igaul a 1
1 == 1

True

In [73]:
# resultado da expressão que indica que 1 é diferente de 1
1 != 1

False

In [74]:
a = True
b = True
c = False

In [75]:
a == b

True

In [76]:
b == c

False

In [77]:
c == a

False

In [14]:
a = 1
b = 3

In [15]:
a, b = b, a + b

In [16]:
a

3

In [17]:
b

4

texto

In [3]:
print(x)

None

In [32]:
def oi(x):
    x+=10 
    return(x)

In [33]:
y = oi(24)

print(y)

34

In [51]:
x = [print(i) for i in range(10) if i%2 == 0]

0
2
4
6
8

In [35]:
print(x)

[None, None, None, None, None]

In [1]:
nome = range(0, 4, -1)
print(nome)

range(0, 4, -1)

In [2]:
for vaga

NameError: name 'vaga' is not defined

In [2]:
x = bool(-3)
y = bool("True"*x)
z= bool("False")
print(x and y and z)

True

In [4]:
import cv2

ModuleNotFoundError: No module named 'cv2'

In [6]:
import cv2

ModuleNotFoundError: No module named 'cv2'